:root {
    --main-bg-color: #f2f2f2;
    --main-text-color: #333;
    --form-bg-color: #fff;
    --input-border-color: #ccc;
    --button-bg-color: #4CAF50;
    --button-text-color: white;
    --style1-bg-color: #6a78c5;
    --style1-text-color: #fff;
    --style1-input-bg-color: #fffaf0;
    --style1-input-border-color: #dcd2c0;
    --high-contrast-bg-color: #202124;
    --high-contrast-text-color: #e8eaed;
    --high-contrast-input-bg-color: #3c4043;
    --high-contrast-input-border-color: #e8eaed;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 1em;
    width: calc(100% - 22px);
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    justify-content: center;
}

button[type="submit"] {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
}

button#highContrastBtn {
    background-color: #2196F3;
    color: var(--button-text-color);
}

button#style1Btn {
    background-color: #f44336;
    color: var(--button-text-color);
}

.style1 {
    background-color: var(--style1-bg-color);
    color: var(--style1-text-color);
}

.style1 input, .style1 select {
    background-color: var(--style1-input-bg-color);
    color: var(--style1-text-color);
    border: 1px solid var(--style1-input-border-color);
}

.high-contrast {
    background-color: var(--high-contrast-bg-color);
    color: var(--high-contrast-text-color);
}

.high-contrast input, .high-contrast select {
    background-color: var(--high-contrast-input-bg-color);
    color: var(--high-contrast-text-color);
    border: 1px solid var(--high-contrast-input-border-color);
}

.high-contrast button {
    border: 1px solid var(--high-contrast-input-border-color);
}
